# Google Earth Engine Project ID
GEE_PROJECT_ID=seu-projeto-id

# Caminho para o arquivo JSON da conta de serviço
GOOGLE_APPLICATION_CREDENTIALS_PATH=secrets/seu-arquivo-de-chave.json

# Diretório padrão para download das imagens
OUTPUT_DIR=downloads

# Configurações de Banco de Dados (Opcional)
DB_HOST=xxx.xxx.xxx.xxx
DB_DATABASE=nome_do_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_PORT=5432
