# Google Earth Engine Project ID
GEE_PROJECT_ID=seu-projeto-id

# Caminho para o arquivo JSON da conta de serviço
GOOGLE_APPLICATION_CREDENTIALS_PATH=secrets/seu-arquivo-de-chave.json

# Diretório padrão para download das imagens
OUTPUT_DIR=downloads