# Arquivos de configuração e ambiente
.env
.ipynb_checkpoints/
check_gee_assets.ipynb

# Credenciais e dados sensíveis
secrets/

# Dados de saída e downloads
downloads/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
